.dashboard-cards{display: inline-block;}

.card{
    width: 200px;
    height: 8.8rem;
    display: inline-block;
    box-shadow: 0px 6px 25px rgb(0 0 0 / 8%);
    border-radius: 0.75rem;
    color: #362F40 !important;
    background: #fff;
    text-decoration: none;
    margin-bottom: 1.8rem;
}

.table_invoice{width: 100%;}
.table_invoice tr{border-bottom: 1px solid #278541;}
.table_invoice th{text-transform:uppercase;}
.table_invoice th, .table_invoice td {padding:10px;}

/* .invoice-innertbl td{padding: 0;} */
.invoice-innertbl{border:2px solid #ccc;}
.invoice-innertbl table{width: 100%;}
.table_invoice table td {padding:10px;}


.table_order{width: 80%; margin: 0 auto;}
.table_order table{border: 1px solid #333; border-collapse: collapse;}
.table_order table td{vertical-align: top;  border: 1px solid #333;}
.table_order>table>td{border: none;}
.table_order .list li{width: 100%; padding: 5px; border-bottom: 1px solid #333;}
.sec_logo{width: 50%; text-align: center;}
.sec_logo img{ max-height: 150px;}
.sec_logo p{padding: 5px 0;}
.table_order tbody td td:nth-child(1){width: 30%; padding: 5px;}